
// Pagination
.pagination {
  display: inline-block;
  .pagination-page {
    display: inline-block;
    .page-item {
      display: inline-block;
      font-size: 14px;
      text-align: center;
      vertical-align: middle;
      color: #999;
      background-color: white;
      border: 1px solid #e8e8e8;
      border-left: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      &:first-child {
        border-left: 1px solid #e8e8e8;
        border-radius: 3px 0 0 3px;
      }
      &:last-child {
        border-radius: 0 3px 3px 0;
      }
      &:only-child {
        border-radius: 3px;
      }
      &.page-prev {
        .page-link::after {
          content: '';
          width: 10px;
          height: 10px;
          border: 2px solid #CCC;
          border-radius: 1px;
          display: inline-block;
          border-right: 0;
          border-bottom: 0;
          transform: rotate(-45deg);
          margin-left: 5px;
        }
      }
      &.page-next {
        .page-link::after {
          content: '';
          width: 10px;
          height: 10px;
          border: 2px solid #CCC;
          border-radius: 1px;
          display: inline-block;
          border-right: 0;
          border-bottom: 0;
          transform: rotate(135deg);
          margin-right: 5px;
        }
      }
      .page-link {
        color: inherit;
        display: block;
        height: 100%;
        width: 100%;
      }
      &.disabled {
        background-color: #CCC;
        color: white;
        transition: all .3s ease-in-out;
        display: none;
        .page-link {
          cursor: not-allowed;
        }
        .page-link::after {
          border-color: #FFF;
        }
        &:hover {
          background-color: #CCC;
        }
      }
      &:hover {
        background-color: #f86442;
        color: white;
        .page-link::after {
          border-color: #FFF;
        }
      }
      &.active {
        background-color: #f86442;
        color: white;
        // &:hover .page-link {
        //   cursor: not-allowed;
        // }
      }
      &.page-omit {
        background-color: transparent;
        border: 0;
        border-right: 1px solid #e8e8e8;
        .page-link {
          &:hover {
            color: #f86422;
          }
          line-height: 32px;
          letter-spacing: 2px;
          height: 100%;
          &::after {
            content: '\2022\2022\2022';
            font-size: 12px;
            display: block;
            height: 100%;
            line-height: 40px;
            font-family: "anticon";
            text-align: center;
            font-weight: 500;
          }
        }
      }
    }
  }
  .quick-jump {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    input[type='number'] {
      -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    .control-input {
      width: 90px;
      height: 40px;
      padding: 10px 0 10px 0;
      box-sizing: border-box;
      color: #333;
      border: 1px solid #e8e8e8;
      border: 0;
      background-color: white;
      border-radius: 3px 0 0 3px;
      vertical-align: top;
      box-shadow: 0 0 1px rgba(0,0,0,0.2);
      text-align: center;
      font-size: 14px;
      &:focus {
        outline: 1px solid rgba(248, 100, 34, 0.6);
        outline: 0;
      }
      &::-webkit-input-placeholder {
        color: #CCC;
      }
      &::placeholder {
        color: #CCC;
        font-size: 14px;
      }
    }
    .btn {
      &.disabled {
        background-color: #CCC;
        cursor: not-allowed;
      }
      &:focus {
        outline: 1px solid rgba(248, 100, 34, 0.6);
        outline: 0;
      }
      display: inline-block;
      vertical-align: top;
      width: 66px;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      color: white;
      background-color: #f86442;
      border-color: transparent;
      border-radius: 0 3px 3px 0;
      text-align: center;
      cursor: pointer;
      transition: all .3s ease-in-out;
    }
  }
}
