.bread-crumb {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  .bread-crumb-item {
    display: inline-block;
    .bread-crumb-link {
      color: #666;
    }
    a.bread-crumb-link {
      cursor: pointer;
      &:hover {
        color: #f86422;
      }
    }
    .bread-crumb-separator {
      color: #666;
      padding: 0 3px;
      vertical-align: 1px;
    }
    &:last-child .bread-crumb-separator {
      display: none;
    }
  }
}
