
.counter-box {
  //float: right;
  display: inline-block;
}
.counter-box-inline {
  //float: right;
  display: inline-block;
}
.counter-box-right {
  float: right;
  //display: inline-block;
}

.counter-box-width {
  padding: 0 5px;
}
.counter-box-content {
  line-height: 18px;
  font-size: 12px;
  border-radius: 18px;
  color: #ffffff;
  min-width: 18px;
  text-align: center;
}
.counter-box-content.counter-box-orange {
  background: #F86442;
}

.counter-box-content.counter-box-grey {
  background: #CCCCCC;
}
.counter-box-dot-box {
  line-height: 10px;
  font-size: 0;
}
.counter-box-dot {
  line-height: 10px;
  font-size: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  min-width: auto;
}