// 组件使用的通用颜色
$orange-1: #F86442;
$orange-light: #F97B5E;

$warnning: #F43530;

$gray-3: #333;
$gray-6: #666;
$gray-9: #999;
$gray-c: #ccc;
$gray-e8: #e8e8e8;
$gray-f345: #f3f4f5;

$green-1: #78c10a;

$disabled-color: rgba(0,0,0,0.25);
