@import "../../../styles/mixins/index.scss";

$vicon-prefix-cls: "#{$xui-prefix}-vicon";

.#{$vicon-prefix-cls} {
  width: 27px;
  height: 16px;
  display: inline-block;
  vertical-align: sub;
  &.lg {
    width: 54px;
    height: 32px;
  }

  @each $colorName in orange, blue {
      @for $i from 0 through 16 {
        &-#{$colorName}-#{$i} {
          background: url(../img/#{$colorName}V#{$i}.png) no-repeat center;
          background-size: 100%;
        }
      }
  }

}
