@import '../../styles/mixins/index.scss';

.page-size-wrap {
  font-size: 14px;
  float: right;
  margin-left: 40px;
  margin-top: -10px;
  height: 40px;
  line-height: 38px;
  .page-size-label {
    color: #999;
    margin-right: 10px;
  }
  .page-size-select {
    height: 100%;
    line-height: 38px;
    width: 80px;
    color: #666;
  }
}
