@import "../../../styles/mixins/index.scss";

$tag-prefix-cls: "#{$xui-prefix}-tag";
.#{$tag-prefix-cls} {
  display: inline-block;
  padding: 2px 10px;
  color: $gray-6;
  background: $gray-f345;
  border-radius: 4px;
  a{
    color: $gray-6;
    &:hover {
      color: $orange-1;
    }
  }
}